@charset "UTF-8";

body {
    font-family: "微软雅黑";
    font-size: 14px;
    max-width: 1920px;
    min-width: 1100px;
}

* {
    padding: 0px;
    margin: 0px;
}

p {
    margin: 0px;
}

li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

a {
    text-decoration: none;
}

ul,
table {
    margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a:hover {
    text-decoration: none;
}

input,
textarea {
    outline: none;
}

img,
table,
tr,
td,
th,
input {
    border: none;
}

img {
    cursor: pointer;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.fow {
    font-weight: bold;
}

.bgw {
    background-color: white;
}

.cowh {
    color: white !important;
}

.fomar {
    font-family: "Arial";
}

.fomap {
    font-family: "Aparajita";
}

.tac {
    text-align: center;
}

.tal {
    text-align: left !important;
}

.tar {
    text-align: right;
}

.por {
    position: relative;
}

.poa {
    position: absolute;
}

.xmar {
    margin-right: 0px !important;
}

.con {
    width: 1100px;
    margin: 0px auto;
}

.overflow {
    overflow: hidden;
}

.dis {
    display: inline-block;
}

.disb {
    display: block;
}

.disn {
    display: none;
}

.foz12 {
    font-size: 12px;
}

.foz14 {
    font-size: 14px;
}

.foz16 {
    font-size: 16px;
}

.foz18 {
    font-size: 18px;
}

.foz20 {
    font-size: 20px;
}

.foz24 {
    font-size: 24px;
}

.foz30 {
    font-size: 30px;
}

.slh {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maxwh {
    width: 100% !important;
}

.xborbo {
    border-bottom: 0px !important;
}

.xbortop {
    border-top: 0px !important;
}

.left {
    left: 0px;
}

.top {
    top: 0px;
}

.right {
    right: 0px;
}

.xborri {
    border-right: 0px !important;
}

.colo0 {
    color: #000 !important;
}

.colo6 {
    color: #666;
}

.colo3 {
    color: #333;
}

.ban1 {
    display: none;
}

.tra {
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    /* IE 9 */
    -moz-transition: all 0.35s;
    /* Firefox */
    -o-transition: all 0.35s;
    /* Opera */
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.bgf5 {
    background-color: #f5f7f9;
}

.bgf9 {
    background-color: #f9f9f9;
}

.bgf8 {
    background-color: #f8f8f8;
}

.pof {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 3;
}


/* 首頁開始 */

.haed {
    background-color: #2c2c48;
}

.head-logo {
    margin-top: 2px;
    padding: 8px 0px;
}

.head-logo>em {
    line-height: 35px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #fff;
    margin-top: 2px;
}

.haed-ul {
    padding: 7px 0px;
}

.haed-ul>li>a {
    color: #fff;
    padding: 11px 20px;
    display: block;
}

.coul li>a {
    color: #666;
    padding: 11px 20px;
    display: block;
}

.head-login>a:nth-child(1) {
    line-height: 43px;
    padding: 0px 35px;
}

.head-login>a:nth-child(2) {
    line-height: 61px;
    width: 110px;
    display: inline-block;
    text-align: center;
    background-color: #83c209;
}


/* 二級導航開始 */

.head-son {
    width: 700px;
    background-color: rgba(44, 44, 72, 0.9);
    left: -212px;
    top: 100%;
    padding: 25px 0px;
    z-index: 2;
}

.newbg {
    width: 700px;
    background-color: #fff;
    left: -200px;
    top: 100%;
    padding: 25px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.head-son>ul>li>a {
    color: #cacbc9;
    padding: 9px 0px;
}

.newbg>ul>li>a {
    color: #909090;
    padding: 9px 0px;
}

.head-son>ul>li {
    width: 175px;
    padding-left: 30px;
}

.head-son>ul>li>h5 {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 96px;
}

.newbg>ul>li>h5 {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(154, 154, 154, 0.2);
    width: 96px;
}

.haed-ulli>a {
    color: #84c904 !important;
}

.head-son1 {
    width: 100px;
    left: 0px;
    top: 130%;
    background-color: #fff;
    z-index: 2;
    border-radius: 5px;
}

.head-son1 ul {
    padding: 5px 0px;
}

.head-son1 a {
    padding: 5px 0px;
    color: #666;
}

.head-son1 li:hover a {
    color: #84c904;
}


/* 二級導航結束 */


/* banner開始 */

.banner {
    overflow: hidden;
}

.bannerul {
    width: 1000%;
    overflow: hidden;
}

.bannerul>li {
    width: 10%;
}

.dian {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
}

.dian>li {
    display: inline-block;
    width: 36px;
    height: 3px;
    background-color: #84c904;
    margin: 0px 7px;
    cursor: pointer;
}

.dianli {
    background-color: #fff !important;
}


/* banner結束 */


/* 首頁主體內容開始 */


/* 產品服務開始 */

.btbox {
    padding: 55px 0px;
}

.btbox>h4 {
    font-size: 34px;
    padding-bottom: 15px;
}

.btbox>p {
    color: #a9a9a9;
}

.fwul>li {
    width: 251px;
    padding: 25px 0px;
    margin: 10px 0;
    margin-right: 32px;

}

.fwul>li:nth-child(4n) {
    margin-right: 0px;
}

.fwul>li>a>h5 {
    font-size: 22px;
    padding: 10px 0px;
}

.fwul>li>a>p {
    color: #909595;
    padding: 0px 20px;
    line-height: 1.5em;
    height: 45px;
    overflow: hidden;
}

.fwul {
    padding-bottom: 80px;
}


/* 產品服務結束 */


/* 产品特性开始 */

.cptxul>li>a>h5 {
    font-size: 22px;
    padding: 15px 0px;
}

.cptxul>li {
    width: 275px;
    padding: 30px 0px 33px 20px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

.cptxul>li>a>p {
    color: #909595;
    line-height: 1.5em;
    height: 42px;
    overflow: hidden;
}

.cptxul>li:nth-child(4),
.cptxul>li:nth-child(8) {
    border-right: 0px;
}

.cptxul>li:nth-child(5),
.cptxul>li:nth-child(6),
.cptxul>li:nth-child(7),
.cptxul>li:nth-child(8) {
    border-bottom: 0px;
}

.cptxul {
    padding-bottom: 50px;
}

.cebox>h5 {
    font-size: 34px;
    padding: 60px 0px 25px;
}

.cebox>p {
    background: url("../images/wz.png") no-repeat center;
    height: 17px;
}

.cebg {
    background: url("../images/indexbg.jpg") no-repeat center;
}

.ceboxul>li:nth-child(1)>input,
.ceboxul>li:nth-child(2)>input {
    height: 58px;
    line-height: 58px;
    padding-left: 10px;
    font-size: 14px;
}

.ceboxul>li:nth-child(1)>input {
    width: 280px;
}

.ceboxul>li:nth-child(2)>input {
    width: 180px;
}

.ceboxul>li:nth-child(2)>span {
    width: 100%;
    height: 46px;
    left: 0px;
    top: 110%;
    line-height: 46px;
    text-align: center;
    background-color: #fff;
}

.ceboxul>li:nth-child(3) {
    width: 122px;
    height: 58px;
    background-color: #fff;
    cursor: pointer;
}

.ceboxul>li:nth-child(3) img {
    width: 122px;
    height: 58px;
}

.ceboxul>li>a {
    line-height: 58px;
    width: 154px;
    height: 58px;
    text-align: center;
}

.ceboxul>li:nth-child(4)>a {
    background-color: #1c5bea;
}

.ceboxul>li:nth-child(5)>a {
    background-color: #86ca03;
}

.ceboxul>li {
    margin-left: 35px;
}

.ceboxul {
    padding: 56px 0px 76px;
}

.ceboxul>li>input::-webkit-input-placeholder {
    color: #c7c7c7;
}

.ceboxul>li>input:-moz-placeholder {
    color: #c7c7c7;
}

.ceboxul>li>input::-moz-placeholder {
    color: #c7c7c7;
}

.ceboxul>li>input:-ms-input-placeholder {
    color: #c7c7c7;
}


/* 产品特性結束 */


/* 七大优势开始 */

.ysh {
    font-size: 34px;
    padding-top: 55px;
}

.ysbox div ul li i {
    width: 7px;
    height: 7px;
    background-color: #94dd09;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.ysbox div>span,
.ysobox div>span {
    font-size: 90px;
    color: #f0f0f0;
    font-style: oblique;
}

.ysbox div ul li h5>em,
.ysobox div ul li h5>em {
    color: #8acf0e;
    font-size: 27px;
}

.ysbox div ul {
    margin-top: 30px;
    padding-left: 10px;
}

.ysobox div ul {
    margin-top: 30px;
    padding-left: 10px;
}

.ysobox div {
    margin-top: 95px;
}

.ysbox div ul li,
.ysobox div ul li {
    padding-bottom: 20px;
}

.ysbox div ul li>a {
    color: #94d802;
    width: 128px;
    line-height: 40px;
    border: 1px solid #86ca03;
}

.ysbox div ul p,
.ysobox div ul p {
    font-size: 22px;
}

.ysobox div ul em {
    color: #8acf0e;
}

.ysobox>ul i {
    width: 37px;
    height: 37px;
    border: 2px solid #8acf0e;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #8acf0e;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}

.ysobox>ul {
    color: #959595;
}

.ysobox>ul>li>h5 {
    font-size: 23px;
    margin-left: 55px;
}

.ysobox>ul li {
    padding: 22px 0px;
}

.ysobox>ul em {
    position: absolute;
    background-color: #8acf0e;
    width: 1px;
    height: 243px;
    left: 18px;
    top: 110px;
}

.ysobox {
    padding: 77px 0px;
}

.ysul li {
    margin-left: 20px;
}

.ysul li:nth-child(1) {
    margin-left: 0px;
}

.ysul {
    padding: 24px 0px;
}

.ysbg1 {
    padding: 54px 0px 80px;
}

.ysbg2 {
    padding: 94px 0px;
}

.ysbg2>.pull-right {
    padding-top: 44px;
}

.ysbg2>.pull-left>img:nth-child(1) {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.ysbg2>.pull-left>img:nth-child(2) {
    margin-left: 90px;
}

.ysbg3 {
    background: url("../images/ysbox2.png") no-repeat right center;
    padding: 114px 0px;
}

.ysbg4 {
    background: url("../images/ysbox3.png") no-repeat left center;
    padding: 57px 0px;
}

.ysbg5 {
    background: url("../images/ysbox4.png") no-repeat right center;
    padding: 130px 0px;
}

.ysbg7 {
    background: url("../images/ysbox5.png") no-repeat right center;
    padding: 174px 0px;
}

.bigimgbg {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.bigimg {
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 100px;
}

.bigimg1 {
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 100px;
}


/* 七大优势结束 */


/* 合作客户开始 */

.hzh {
    font-size: 34px;
    padding: 64px 0px 48px;
}

.bg {
    background: url("../images/bg.png") no-repeat center;
}

.hzul>li {
    width: 165px;
    margin-right: 22px;
    padding: 16px 0px;
}

.hzul>li:nth-child(6n) {
    margin-right: 0px;
}

.hzul {
    padding-bottom: 60px;
}

.bg1 {
    background: url("../images/bg1.jpg") no-repeat center;
}

.swhyul {
    padding: 46px 0px;
}

.swhyul a {
    font-size: 30px;
    color: #fff;
    padding-left: 60px;
}

.swhyul li {
    width: 33%;
}

.swhyul li:nth-child(1) a {
    background: url("../images/swhyul.png") no-repeat left center;
}

.swhyul li:nth-child(2) a {
    background: url("../images/swhyul1.png") no-repeat left center;
}

.swhyul li:nth-child(3) a {
    background: url("../images/swhyul2.png") no-repeat left center;
}


/* 合作客户结束 */


/* 首頁主體內容結束 */


/* 首页底部开始 */

.footbg {
    background-color: #3a3f4e;
}

.footul {
    padding: 75px 0px 40px;
}

.footul>.pull-left {
    width: 180px;
}

.footul>.pull-left h5 {
    padding-bottom: 10px;
}

.footul>.pull-left a {
    color: #8f8f8f;
    padding: 7px 0px;
    width: 56px;
}

.footul>.pull-left a:hover {
    color: #83c209;
}

.footul>.pull-right p {
    color: #8f8f8f;
    padding: 7px 0px;
}

.bqxxbox p {
    color: #999;
    font-size: 12px;
    padding-bottom: 8px;
}

.bqxxbox {
    padding-bottom: 60px;
}


/* 首页底部结束 */


/* 首頁結束 */


/* 侧边框开始 */

.cbbox {
    position: fixed;
    right: 0px;
    top: 30%;
}

.cbul em {
    color: #999;
    font-size: 12px;
}

.cbul {
    width: 218px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(10, 3, 5, 0.08);
    padding: 20px 0px;
}

.cbul li {
    padding: 9px 0px 9px 50px;
}

.cbul li:nth-child(1) {
    background: url("../images/cbul.png") no-repeat 20px center;
}

.cbul li:nth-child(2) {
    background: url("../images/cbul1.png") no-repeat 20px center;
}

.cbul li:nth-child(3) {
    background: url("../images/cbul2.png") no-repeat 20px center;
}

.cbbox>a {
    background-color: #99d606;
    font-size: 12px;
    width: 43px;
    height: 124px;
    margin-top: 90px;
    padding: 26px 15px;
    margin-left: 10px;
}

.top {
    position: fixed;
    right: 0px;
    top: 80%;
    width: 43px;
    height: 39px;
    background: #fff url("../images/top.png") no-repeat center;
}


/* 侧边框结束 */


/* 推广开始  */

.tgbox h5 {
    font-size: 34px;
    padding-bottom: 20px;
}

.tgbox p {
    line-height: 1.8em;
    padding: 0px 20%;
    color: #666;
}

.tgbox {
    padding: 83px 0px;
}

.spreaul li {
    width: 300px;
    margin-right: 100px;
}

.spreaul li:nth-child(3n) {
    margin-right: 0px;
}

.spreaul h5 {
    font-size: 20px;
    line-height: 1.8em;
    padding: 15px 0px;
}

.spreaul p {
    color: #909595;
    line-height: 1.8em;
}

.spreaul {
    padding-bottom: 80px;
}

.splch {
    font-size: 26px;
    padding: 0px 110px;
}

.splcbg {
    padding: 206px 0px;
    background: url("../images/splcbg.png") no-repeat left center;
}

.splcbg1 {
    padding: 206px 0px;
    background: url("../images/splcbg1.png") no-repeat right center;
}


/* 推广结束  */


/* crm开始 */

.crmul li {
    width: 350px;
    margin-right: 25px;
    padding-bottom: 25px;
}

.crmul li:nth-child(3n) {
    margin-right: 0px;
}

.crmul a {
    padding: 28px 0px;
}

.crmul h5 {
    font-size: 20px;
    padding: 15px 0px;
}

.crmul p {
    color: #909595;
    padding: 0px 87px;
    line-height: 1.8em;
    height: 75px;
    overflow: hidden;
}

.crmul {
    padding-bottom: 55px;
}

.hxgnul li {
    width: 33%;
    border-right: 1px dashed #e5e5e5;
}

.hxgnul li:nth-child(3n) {
    border-right: 0px;
}

.hxgnul h5 {
    font-size: 22px;
    padding: 20px 0px;
}

.hxgnul p {
    color: #909595;
    line-height: 1.8em;
    padding: 0px 79px;
    height: 100px;
    overflow: hidden;
}

.hxgnul {
    padding-bottom: 80px;
}


/* crm结束 */


/* elearning开始 */

.elabox p {
    line-height: 1.8em;
    color: #666;
    padding-top: 25px;
}

.elabox {
    padding: 36px 0px;
}

.elaul h5 {
    font-size: 22px;
    padding-top: 40px;
}

.elaul li {
    width: 257px;
    margin-right: 24px;
}

.elaul li:nth-child(4n) {
    margin-right: 0px;
}

.elaul a {
    padding: 105px 0px;
}

.elaul {
    padding-bottom: 65px;
}

.elaoul li {
    width: 33%;
}

.elaoul h5 {
    font-size: 22px;
    padding: 20px 0px;
}

.elaoul p {
    text-align: left;
    color: #909595;
    padding-left: 70px;
}

.elaoul {
    padding-bottom: 80px;
}


/* elearning结束 */


/* oa开始 */

.oaul li {
    width: 200px;
    margin-right: 100px;
}

.oaul li:nth-child(4n) {
    margin-right: 0px;
}

.oaul h5 {
    font-size: 22px;
    padding: 20px 0px;
}

.oaul p {
    line-height: 1.8em;
    color: #909595;
    height: 100px;
    overflow: hidden;
}

.oaul {
    padding-bottom: 60px;
}

.oaoul {
    background: url("../images/oaobg.jpg") repeat-y center;
}

.oaoul li {
    width: 275px;
}

.oaoul h5 {
    font-size: 34px;
}

.oaoul span {
    width: 47px;
    height: 3px;
    background-color: #fff;
    margin: 30px 0px;
}

.oaoul p {
    padding: 0px 30px;
    line-height: 1.8em;
    height: 125px;
    overflow: hidden;
}

.oaoul a {
    padding: 140px 0px 75px;
}

.oatul li {
    width: 20%;
    padding: 30px 0px;
}

.oatul p {
    padding-top: 20px;
}

.oatul {
    padding: 69px 0px;
}


/* oa结束 */


/* sp落地开始 */

.spldul h5 {
    color: #000;
    padding: 20px 0px;
}

.spldul p {
    color: #999;
}

.spldul li {
    padding: 0px 25px;
}

.spldul {
    padding-bottom: 40px;
}

.blspzbox h5 {
    font-size: 32px;
}

.blspzbox span {
    padding: 40px 0px 20px;
}

.blspzbox p {
    color: #999;
    line-height: 1.8em;
}

.blspzbox {
    padding: 40px 0px;
}

.sqtjh {
    font-size: 32px;
    padding: 39px 0px;
}

.sqtjul li {
    width: 180px;
    padding: 60px 0px;
    margin-right: 4px;
}

.sqtjul li:nth-child(6n) {
    margin-right: 0px;
}

.sqtjul a {
    color: #666;
    padding: 0px 27px;
    height: 80px;
}

.sqtjul {
    padding-bottom: 50px;
}

.sqtjoul a {
    line-height: 200px;
    height: 200px;
}

.sqtjoul li {
    width: 200px;
    margin-right: 20px;
}

.sqtjoul li:nth-child(5n) {
    margin-right: 0px;
}

.sqtjoul li:nth-child(1) a {
    background-color: #5bb4cf;
}

.sqtjoul li:nth-child(2) a {
    background-color: #49aecd;
}

.sqtjoul li:nth-child(3) a {
    background-color: #32a6ca;
}

.sqtjoul li:nth-child(4) a {
    background-color: #1a9fc8;
}

.sqtjoul li:nth-child(5) a {
    background-color: #0da0ce;
}

.sqtjoul {
    padding-bottom: 100px;
}


/* sp落地结束 */


/* 帮助中心开始 */

.hebox h5 {
    font-size: 22px;
    padding: 20px 0px 15px;
}

.hebox p {
    color: #8f8f8f;
    padding: 3px 0px;
}

.heul {
    color: #8f8f8f;
    padding: 20px 0px 10px;
}

.heul p {
    line-height: 1.8em;
    padding-bottom: 10px;
}

.heul h5 {
    padding-bottom: 8px;
}

.heul li {
    padding: 10px 0px;
}


/* 帮助中心结束 */


/* 存储服务开始 */

.storbox {
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(15, 210, 171, 0.27);
    padding: 72px 0px;
    margin-top: -77px;
    position: relative;
}

.storbox span {
    font-size: 22px;
    margin-left: 50px;
    line-height: 75px;
}

.storbox p {
    width: 660px;
    margin-right: 100px;
    text-align: center;
    color: #666;
    line-height: 1.8em;
}

.storul li {
    width: 215px;
    margin-right: 80px;
}

.storul li:nth-child(3n) {
    margin-right: 0px;
}

.storul h5 {
    font-size: 20px;
    padding: 20px 0px;
}

.storul p {
    color: #909595;
    line-height: 1.8em;
    height: 50px;
    overflow: hidden;
}

.storul {
    padding-bottom: 50px;
}

.storh {
    font-size: 34px;
    padding: 50px 0px;
}

.storoul li {
    width: 288px;
    margin-right: 118px;
    padding-bottom: 70px;
}

.storoul li:nth-child(3) {
    margin-right: 0px;
}

.storoul li:nth-child(4) {
    margin-left: 203px;
}

.storoul h5 {
    font-size: 26px;
    padding: 40px 0px;
}

.storoul p {
    color: #909595;
    line-height: 1.8em;
}

.storoul dd {
    padding-bottom: 35px;
}

.storoul span {
    padding: 25px 0px;
}

.storoul i {
    width: 158px;
    margin: 0px auto;
    padding: 6px 0px;
    border-radius: 15px;
    background-color: #06cba3;
}

.storoul a {
    border-top: 10px solid #06cba3;
    padding-bottom: 65px;
}

.storoul>li:hover a {
    box-shadow: 0px 0px 15px rgba(6, 203, 163, 0.27);
}

.storoul {
    padding-bottom: 40px;
}


/* 存储服务结束 */


/* 空号检测开始 */

.spacul h5 {
    padding: 20px 0px;
    font-size: 20px;
}

.spacul li {
    width: 33%;
}

.spacul p {
    color: #909595;
    line-height: 1.8em;
    padding: 0px 56px;
    height: 75px;
    overflow: hidden;
}

.spacul {
    padding-bottom: 40px;
}

.spacoul li {
    width: 540px;
    padding-bottom: 25px;
}

.spacoul h5 {
    font-size: 20px;
    padding-bottom: 20px;
}

.spacoul a {
    padding: 80px 40px 50px;
}

.spacoul p {
    color: #999;
    line-height: 1.8em;
    height: 125px;
    overflow: hidden;
}

.spacoul {
    padding-bottom: 50px;
}

.spacoul li:nth-child(1) a {
    background: #fff url("../images/spacoul.png") no-repeat 420px 30px;
}

.spacoul li:nth-child(2) a {
    background: #fff url("../images/spacoul1.png") no-repeat 420px 30px;
}

.spacoul li:nth-child(3) a {
    background: #fff url("../images/spacoul2.png") no-repeat 420px 30px;
}

.spacoul li:nth-child(4) a {
    background: #fff url("../images/spacoul3.png") no-repeat 420px 30px;
}


/* 空号检测结束 */


/* 企业级短信平台开发开始 */

.chitul li {
    width: 540px;
    padding-bottom: 25px;
}

.chitul h5 {
    font-size: 20px;
    padding-bottom: 15px;
}

.chitul p {
    color: #909595;
    line-height: 1.8em;
    height: 50px;
}

.chitul a {
    padding: 49px 35px 49px 120px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
    background: url("../images/chitul.png") no-repeat 38px center;
}

.chitul {
    padding-bottom: 45px;
}

.chitoul i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 20px;
    border: 2px solid #0d68f1;
    border-radius: 50%;
    color: #0d68f1;
    text-align: center;
    margin-right: 10px;
}

.chitoul li {
    margin-right: 58px;
    background-color: #f5f7f9;
    position: relative;
    z-index: 2;
    padding: 0px 15px;
}

.chitoul li:nth-child(5) {
    margin-right: 0px;
}

.chitoul {
    padding-bottom: 130px;
}

.chitoul>span {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
    left: 0px;
    top: 12px;
}


/* 企业级短信平台开发结束 */


/* 邮箱开始 */

.emaiul h5 {
    font-size: 20px;
    padding: 20px 0px;
}

.emaiul p {
    color: #909595;
    padding: 0px 14%;
    line-height: 1.8em;
    height: 100px;
    overflow: hidden;
}

.emaiul li {
    width: 33%;
}

.emaiul a {
    padding: 25px 0px;
    border-right: 1px solid #f2f2f2;
}

.emaiul li:nth-child(3n) a {
    border-right: 0px;
}

.emaiul li:nth-child(1) a,
.emaiul li:nth-child(2) a,
.emaiul li:nth-child(3) a {
    border-bottom: 1px solid #f2f2f2;
}

.emaiul {
    padding-bottom: 50px;
}

.emaioul li {
    width: 260px;
    margin-right: 20px;
}

.emaioul li:nth-child(4n) {
    margin-right: 0px;
}

.emaioul h5 {
    font-size: 31px;
    background-color: #ebecf0;
    padding: 25px 0px;
}

.emaioul p {
    color: #909595;
    padding: 3px 0px;
}

.emaioul span {
    margin-bottom: 20px;
}

.emaioul i {
    width: 158px;
    margin: 0px auto;
    background-color: #558ff8;
    padding: 6px 0px;
    border-radius: 15px;
}

.emaioul dd {
    padding: 30px 0px;
}

.emaioul a {
    padding-bottom: 35px;
}

.emaioul {
    padding-bottom: 65px;
}

.emaioul li:hover h5 {
    background-color: #3372f2;
    color: #fff;
}

.emaioul li:hover a {
    box-shadow: 0px 0px 15px rgba(0, 27, 255, 0.27);
}

.ematab th {
    font-size: 20px;
    text-align: center;
    padding: 23px 0px !important;
    border-color: #eee !important;
    background-color: #f5f7f9;
}

.ematab td:nth-child(1) {
    width: 260px;
    border-right: 1px solid #eee;
    border-color: #eee;
    line-height: 65px;
}

.ematab td:nth-child(2) {
    color: #909595;
    border-color: #eee;
    vertical-align: middle;
    line-height: 1.8em;
}

.ematab {
    border: 1px solid #eee;
    margin-bottom: 85px;
}


/* 邮箱结束 */


/* 域名注开始 */

.realbox {
    background: url("../images/banner13.jpg") no-repeat center;
    background-size: 100%;
    padding: 94px 0px;
}

.realbox h5 {
    font-size: 56px;
    padding-bottom: 121px;
}


/* 域名注结束 */


/* 域名注册开始 */

.reaul li {
    width: 220px;
}

.reaul h5 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
}

.reaul p {
    font-size: 20px;
}

.reaul a {
    color: #909595;
    padding: 50px 0px;
    border: 1px solid #fff;
}

.reaul dd {
    padding: 15px 0px 40px;
}

.reaul li:hover a {
    border-color: #e5e5e5;
}

.reaoul li {
    width: 350px;
    padding-bottom: 25px;
    margin-right: 25px;
}

.reaoul li:nth-child(3n) {
    margin-right: 0px;
}

.reaoul h5 {
    font-size: 20px;
    padding: 20px 0px 10px;
}

.reaoul p {
    color: #909595;
}

.reaoul a {
    padding: 45px 0px;
}

.reaoul {
    padding-bottom: 55px;
}


/* 域名注册结束 */


/* 自定义号码开始 */

.custbox h5 {
    padding-bottom: 15px;
}

.custbox {
    padding: 37px 125px 37px 190px;
    background: url("../images/custbox.png") no-repeat 20px center;
}

.custbox p {
    line-height: 1.8em;
}

.custboxbg {
    background: url("../images/custboxbg.jpg") no-repeat center;
}

.cumsul li {
    width: 210px;
    margin-right: 115px;
    padding-bottom: 70px;
}

.cumsul li:nth-child(3) {
    margin-right: 0px;
}

.cumsul li:nth-child(4) {
    margin-left: 162px;
}

.cumsul h5 {
    font-size: 20px;
    padding: 10px 0px;
}

.cumsul p {
    color: #909595;
    line-height: 1.8em;
    height: 75px;
}

.cumsul {
    padding: 0px 120px;
}


/* 自定义号码结束 */


/* 成功案例开始 */

.caseul>li {
    width: 124px;
}

.caseul a {
    color: #333;
    line-height: 46px;
    border-radius: 5px;
}

.caseul {
    padding: 40px 0px;
}

.caseulli a {
    background-color: #a1d424;
    color: #fff;
}

.soncaseul li {
    width: 230px;
    margin-right: 60px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
}

.soncaseul li:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.soncaseul li:nth-child(4n) {
    margin-right: 0px;
}

.soncaseul {
    padding-bottom: 25px;
}

.cadiv,
.bigcaseul {
    overflow: hidden;
}


/* 成功案例结束 */


/* 短信商城开始 */

.dxdiv h5 {
    font-size: 32px;
    margin-bottom: 15px;
}

.dxdiv span {
    width: 48px;
    height: 3px;
    background-color: #a7cc09;
}

.dxdiv {
    padding: 60px 0px 40px;
}

.dxp {
    font-size: 20px;
    text-align: center;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.mesbg {
    background: url("../images/mesbg.jpg") no-repeat center;
}

.dxpmg {
    margin-bottom: 130px;
}

.mesul {
    font-size: 20px;
    padding: 48px 0px 48px 455px;
}

.mesul>li {
    padding: 30px 0px 30px 60px;
}

.mesul>li:nth-child(1) {
    background: url("../images/mesul.png") no-repeat left center;
}

.mesul>li:nth-child(2) {
    background: url("../images/mesul1.png") no-repeat left center;
}

.mesul>li:nth-child(3) {
    background: url("../images/mesul2.png") no-repeat left center;
}

.mesul>li:nth-child(4) {
    background: url("../images/mesul3.png") no-repeat left center;
}

.sjimg {
    left: 100px;
    bottom: 0px;
}

.mesbg1 {
    background: url("../images/mesbg1.jpg") no-repeat center;
    background-size: 100%;
    padding: 30px 0px 100px;
}

.shmebox span {
    padding-bottom: 40px;
}

.shmebox p {
    line-height: 1.8em;
    padding: 0px 12%;
}

.shtul a {
    padding: 10px 22px;
    color: #999;
    margin: 0px 30px;
    border-radius: 5px;
}

.shtulli a {
    background-color: #a9db2e;
    color: #fff;
}

.bigshtul {
    width: 1000%;
    padding: 80px 0px 60px;
}

.bigshtul li {
    width: 10%;
}

.bgshp {
    padding-bottom: 100px;
}

.dxdiv1 h5 {
    font-size: 32px;
}

.dxdiv1 span {
    width: 48px;
    height: 3px;
    background-color: #a7cc09;
    margin: 30px 0px 35px;
}

.dxdiv1 {
    padding: 100px 0px;
}

.shmeul li {
    width: 33%;
}

.shmeul h5 {
    font-size: 22px;
    padding: 30px 0px;
}

.shmeul p {
    line-height: 1.8em;
    padding: 0px 25%;
    height: 87px;
    overflow: hidden;
}

.shmeul p em {
    color: #a9db2e;
    font-size: 28px;
}

.shmeul {
    padding-bottom: 60px;
}

.shmeoul li {
    padding: 16px 0px;
}

.shmeoul span {
    background: url("../images/gh.png") no-repeat left center;
    background-size: 27px;
    padding-left: 40px;
}

.shmeoul {
    font-size: 22px;
    padding: 100px 200px;
}

.mesbg2 {
    background: url("../images/mesbg2.jpg") no-repeat center;
    background-size: 100%;
}

.sjimg1 {
    left: 50px;
    bottom: -40px;
}

.dxdiv2 {
    padding: 160px 0px 70px;
}

.dxdiv2 h5 {
    font-size: 32px;
    margin-bottom: 15px;
}

.dxdiv2 span {
    width: 48px;
    height: 3px;
    background-color: #a7cc09;
}

.shmetul span i {
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.shmetul span {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    padding: 9px;
}

.shmetul li {
    width: 550px;
}

.shmetul h5 {
    padding: 22px 0px;
}

.shmetul li:nth-child(1) span i {
    background: #a9db2e url("../images/shmetul.png") no-repeat center;
}

.shmetul li:nth-child(2) span i {
    background: #f0f0f0 url("../images/shmetul1.png") no-repeat center;
}

.shmetul p {
    width: 13em;
    margin: 0px auto 25px;
    height: 80px;
}

.shmetul {
    padding-bottom: 120px;
}

.arowdiv {
    width: 100%;
    left: 0px;
    top: -28px;
}

.shmesul li {
    margin-right: 106px;
}

.shmesul li:nth-child(3) {
    margin-right: 0px;
}

.shmesul {
    padding-bottom: 120px;
}

.xlxxul h5 {
    color: #555;
    margin-bottom: 10px;
}

.xlxxul p span {
    width: 70px;
    height: 20px;
}

.xlxxul p {
    padding: 5px 0px;
}

.xlxxul li {
    padding: 0px 0px 20px 30px;
}

.xlxxul li:nth-child(1) {
    background: url("../images/xlxxul.png") no-repeat left 0px;
}

.xlxxul li:nth-child(2) {
    background: url("../images/xlxxul1.png") no-repeat left 0px;
}

.xlxxul li:nth-child(3) {
    background: url("../images/xlxxul2.png") no-repeat left 0px;
}

.xlxxul li:nth-child(4) {
    background: url("../images/xlxxul3.png") no-repeat left 0px;
}

.xlxxoul {
    width: 550px;
}

.xlxxoul li:nth-child(1) input,
.xlxxoul li:nth-child(2) input {
    width: 48%;
}

.xlxxoul input {
    line-height: 44px;
    height: 44px;
    border: 1px solid #555;
    padding-left: 10px;
}

.xlxxoul li {
    padding-bottom: 23px;
}

.xlxxoul textarea {
    height: 86px;
    padding: 10px;
    border-color: #555;
}

.xlxxoul input::-webkit-input-placeholder,
.xlxxoul textarea::-webkit-input-placeholder {
    color: #999;
}

.xlxxoul input:-moz-placeholder,
.xlxxoul textarea:-moz-placeholder {
    color: #999;
}

.xlxxoul input::-moz-placeholder,
.xlxxoul textarea::-moz-placeholder {
    color: #999;
}

.xlxxoul input:-ms-input-placeholder,
.xlxxoul textarea:-ms-input-placeholder {
    color: #999;
}

.xlxxoul li a {
    width: 170px;
    padding: 14px 0px 11px;
    background-color: #a9db2e;
    border-radius: 5px;
    border-bottom: 3px solid #86ab2b;
}

.xlxxoul li p {
    line-height: 48px;
    color: #999;
    padding-left: 20px;
}

.xlxxoul li p em {
    color: #91c60e;
}


/* 短信商城结束 */


/* 登录开始 */

.logdiv>em {
    line-height: 35px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #666;
    margin-top: 2px;
}

.dhdiv p a {
    color: #000;
}

.dhdiv p {
    padding-left: 30px;
    background: url("../images/dh1.png") no-repeat left center;
}

.dhdiv {
    padding: 11px 0px 12px;
}

.loghead {
    padding: 26px 0px;
    background-color: #fff;
}

.logbg {
    background: url("../images/banner17.jpg") no-repeat center;
    background-size: 1920px;
    padding: 42px 0px;
}

.logbox {
    width: 366px;
    padding: 0px 40px 40px
}

.logbox ul li h5 {
    font-size: 22px;
    padding: 40px 0px 30px;
}

.logbox ul li>input {
    line-height: 38px;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
}

.logbox ul li>input:focus,
.logbox ul li>input:hover,
.enrul input:focus,
.enrul input:hover {
    border-color: #91d107;
}

.logbox ul li:nth-child(4) input {
    width: 145px;
}

.logbox ul li:nth-child(4) div {
    width: 105px;
    height: 40px;
}

.logbox ul li:nth-child(4) div img {
    width: 100%;
    height: 40px;
}

.logbox ul li:nth-child(5) p {
    color: #848484;
    font-size: 12px;
    padding-left: 20px;
    background: url("../images/gh1.jpg") no-repeat left center;
}

.logbox ul li:nth-child(5) a {
    color: #91d107;
}

.logbox ul li:nth-child(5) p>input {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.logbox ul li:nth-child(6) a {
    background-color: #91d107;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 7px 0px;
    border-radius: 5px;
}

.logbox ul li:nth-child(7),
.logbox ul li:nth-child(7)>a {
    font-size: 12px;
    color: #999;
}

.logbox ul li:nth-child(7) p>a {
    color: #91d107;
}

.logbox ul li>input::-webkit-input-placeholder {
    color: #c0c0c0;
}

.logbox ul li>input:-moz-placeholder {
    color: #c0c0c0;
}

.logbox ul li>input::-moz-placeholder {
    color: #c0c0c0;
}

.logbox ul li>input:-ms-input-placeholder {
    color: #c0c0c0;
}

.tssp {
    text-align: center;
    width: 100%;
    line-height: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    left: 0px;
    top: 76px;
    display: none;
}

.logbox ul li {
    padding: 7px 0px;
}

.dptul li {
    width: 308px;
    margin-right: 88px;
}

.dptul li:nth-child(3n) {
    margin-right: 0px;
}

.dptul li a {
    color: #8c8b8b;
    padding: 30px 0px 25px;
}

.dptul li a h5 {
    color: #212121;
    font-size: 18px;
    padding: 35px 0px 15px;
}

.dptul li a p {
    line-height: 1.8em;
}

.dptul li a div {
    height: 150px;
}

.dptul {
    padding-bottom: 80px;
}


/* 登录结束 */


/* 注册内容开始 */

.enrh {
    font-size: 28px;
    padding: 55px 0px 20px;
}

.enrp {
    color: #848484;
    padding-right: 60px;
}

.enrp a {
    color: #91d107;
}

.enrul {
    width: 430px;
    margin: 0px auto;
    padding-bottom: 70px;
}

.enrul input {
    line-height: 48px;
    height: 50px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
}

.enrul li:nth-child(2) input {
    width: 260px;
}

.enrul li:nth-child(2) a img {
    width: 145px;
    height: 50px;
}

.enrul li:nth-child(4) p {
    color: #848484;
    padding-left: 30px;
    background: url("../images/gh1.jpg") no-repeat left center;
}

.enrul li:nth-child(4) p input {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.enrul li:nth-child(4) p a,
.enrul li:nth-child(6) p i {
    color: #91d107;
}

.enrul li:nth-child(5) a {
    background-color: #91d107;
    border-radius: 5px;
    padding: 15px 0px;
}

.enrul li:nth-child(6) p {
    color: #848484;
}

.enrul li {
    padding: 10px 0px;
}

.enrul input::-webkit-input-placeholder {
    color: #c0c0c0;
}

.enrul input:-moz-placeholder {
    color: #c0c0c0;
}

.enrul input::-moz-placeholder {
    color: #c0c0c0;
}

.enrul input:-ms-input-placeholder {
    color: #c0c0c0;
}

.pabo {
    padding: 100px 0px;
}


/* 注册内容结束 */


/* 金融内容开始 */

.hzkhdiv span {
    font-size: 24px;
    line-height: 122px;
    width: 110px;
}

.hzkhdiv ul li {
    margin-right: 19px;
    margin-bottom: 15px;
}

.hzkhdiv ul li:nth-child(4n) {
    margin-right: 0px;
}

.hzkhdiv ul {
    width: 990px;
}

.pabo1 {
    padding-bottom: 120px;
}

.cariul li {
    width: 330px;
    margin-right: 55px;
}

.cariul li:nth-child(3n) {
    margin-right: 0px;
}

.cariul {
    padding-bottom: 110px;
}

.carih {
    padding: 95px 0px;
    font-size: 34px;
}


/* 金融内容结束 */

.tckdiv p {
    width: 300px;
    height: 100px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    margin: 0px auto;
    line-height: 100px;
    font-size: 24px
}

.tckdiv {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 100%;
}

.enrtssp {
    width: 250px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #fff;
    left: 475px;
    top: 25px;
    display: none;
}

.enrul li:nth-child(3) a {
    width: 145px;
    line-height: 50px;
    height: 50px;
    background-color: #adadad;
    text-align: center;
    right: 0px;
    top: 10px;
    color: #fff;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/*  广告窗口开始  */

.ggckbox {
    width: 315px;
    background: url(../images/tkbg.png) no-repeat center;
    position: fixed;
    right: 10px;
    top: 20%;
    text-align: center;
}

.ggckbox ul li>p {
    font-size: 14px;
}

.ggckbox ul li a {
    display: block;
    font-size: 14px;
    color: #ff0802;
    width: 207px;
    margin: 0px auto;
    padding: 8px 0px;
    background-color: #fede33;
    border-radius: 20px;
}

.ggckbox ul li {
    padding: 10px 0px;
}

.ggckbox ul {
    padding: 135px 0px 10px;
}

.ggckbox ul span {
    width: 29px;
    height: 29px;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -10px;
    background: url(../images/gb.png) no-repeat center;
    cursor: pointer;
}

.ggckdiv>p {
    font-size: 16px;
    padding: 4px 0px;
}

.ggckdiv>p>i {
    color: #ff0036;
}

.ggckdiv>p>em {
    color: #ffea00;
}

.ggckdiv {
    background-color: #2f4ead;
    border: 2px solid #0c3f87;
    border-radius: 15px;
    margin: 0px 10px;
    padding: 10px 10px;
    text-align: left;
}

.head-son ul li a:hover {
    color: #83c209;
}